/*//?----------  SECTION LAYOUT  ----------*/
.features {
  grid-column: center-start / center-end;

  margin: 15rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  /*//* some of the '.feature' children components have less text in than others.  since the default is 'stretch' they have a different spacing in them than the others.  set to 'start' so they all bring their content to the top */
  align-items: start;

  @media only screen and (max-width: $mq-small) {
    margin: 7.5rem 0;
  }
}

/*//?----------  COMPONENTS  ----------*/
.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: $color-primary;
    width: 4.5rem;
    height: 4.5rem;
    /*//* not using '-1' (but instead 'span 2') b/c '-1' only works for referencing the end of the EXPLICIT grid.  since i didn't make any explicit rows, the '-1' won't use the last implicit row.  therefore need to use 'span 2' */
    /*//* also, by having the icon span down a row which therefore pushes the 'feature__text' element into the second column (instead of explicitly placing the paragraph into the second column) the height of the first row references the h4, not the icon, since the icon can span down */
    grid-row: 1 / span 2;
    transform: translateY(-1rem);
  }

  &__text {
    font-size: 1.7rem;
  }
}
